<div id="wrapper_site_name" class="invisible">
 <label for="name"> {{t "global.name"}} </label>
 <input type="text" 
        name="name" 
        id="name" 
        class="required" 
        value='{{name}}'/><br>
</div>
<div id="wrapper_site_location" class="invisible">
 <a href="#page-map">
  <img src="img/map.png" 
       alt="map icon" 
       width="50" 
       height="50" 
       id="icon-map"/></a>
 <label for="lat"> {{t "global.lat"}} </label>
 <input type="number" 
        name="lat" 
        id="lat" 
        class="required" 
        value='{{lat}}'/>
 <label for="lng"> {{t "global.lng"}} </label>
 <input type="number" 
        name="lng" 
        id="lng" 
        class="required" 
        value='{{lng}}'/>
</div>